/* Layout */

*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 15px;
    height: 100%;
}
#plotlyA {
    height: 90%;
    width: 100%;
}

/* Footer */

footer {
    padding: 2.5% 0;
    text-align: right;
}
.credit,
.account {
    display: inline-block;
    vertical-align: middle;
    color: rgba(24, 242, 178,0.25);
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
}
a {
    font-family: inherit;
    color: rgba(24, 242, 178,0.25);
    text-decoration: none;
    transition: all .3s ease;
    padding: 4px 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0F0F0F;
    border-radius: 3px;
}
a:hover,
a:focus {
    color: rgba(24, 242, 178,1)
}
.btn {
    border: 1px solid;
    color: #18F2B2;
    opacity: .25;
    text-decoration: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 10px 30px;
    background-color: transparent;
    transition: all .3s ease;
}
.btn:hover,
.btn:focus {
    opacity: 1;
}

/* Dark Plotly Color Scheme */

body {
    background-color: #111;
}
svg.main-svg:first-of-type,
.subplot,
.js-plotly-plot .plotly .modebar {
    background: #111 !important;
}
.subplot rect {
    fill: #111 !important;
}
.gtitle {
    fill: #18F2B2 !important;
}
.js-line {
    stroke: #18F2B2 !important;
}
.xtick text,
.ytick text {
    fill: #18F2B2 !important;
    opacity: 0.25;
}
.xgrid, .ygrid {
    stroke: #1D1D1D !important;
}
.js-plotly-plot .plotly .modebar-btn path,
.js-plotly-plot .plotly .modebar-btn.modebar-btn--logo path {
    fill: #18F2B2 !important;
}
::-moz-selection {
  color: #0A6D58;
  background: #18F2B2;
}
::selection {
  color: #0A6D58;
  background: #18F2B2;
}
