/*!
 *
 * Dark Theme
 *
 */

$color--primary:         #18F2B2;
$color--grid:            #1D1D1D;
$color--btn-background:  #0F0F0F;
$color--background:      #111111;
$opacity--footer:        0.25;
$opacity--xy-tick:       0.25;

@import "template";
