/* Config */

@import "normalize";

$opacity: 1;

@if variable-exists(opacity--initial) {
    $opacity: $opacity--initial;
}

/* Begin Styles */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    @if variable-exists(color--background){
        background-color: $color--background;
    }
    @if variable-exists(color--primary){
        color: $color--primary;
    }
    transition: transform .2s ease;
}

.navbar {
    @if variable-exists(color--primary){
        box-shadow: 0 1px 0 rgba($color--primary,.3);
    }
    @if variable-exists(color--background){
        background-color: $color--background;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 1002; // plotly 1001 + 1
    text-align: right;

    ul.nav {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            &.active a {
                background-color: $color--primary;
                color: $color--background;
                box-shadow: 0 1px 0 0 $color--primary;
            }

            a {
                padding: 15px 10px;
                display: block;

                span {
                    @media (max-width: 800px) {
                        display: none;
                    }
                }
            }
        }
    }

    i {
        margin-right: 5px;
    }

    summary {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: $color--background;
        text-align: center;
        padding-top: 15px;
        width: 340px;
        margin: 0 auto;
        @if variable-exists(color--primary){
            color: rgba($color--primary, $opacity);
        }
        span {
            @if variable-exists(color--primary){
                color: rgba($color--primary, 1);
            }
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
}
footer {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.account-meta {
    float: left;
    padding: 0px 15px;
    img {
        border-radius: 50%;
        max-width: 38px;
        margin: 5px 5px 5px 0;
        display: inline-block;
        vertical-align: middle;
        height: auto;
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
}

main.content {
    padding-top: 48px;
}

::-moz-selection {
    @if variable-exists(color--primary){
        color: darken($color--primary, 20%);
        background: $color--primary;
    }
}

::selection {
    @if variable-exists(color--primary){
        color: darken($color--primary, 20%);
        background: $color--primary;
    }
}

#plotlyA {
    height: 90%;
    width: 100%;
}

.credit,
.account {
    @if variable-exists(color--primary){
        color: rgba($color--primary, $opacity);
    }
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
}

a {
    font-family: inherit;
    @if variable-exists(color--primary){
        color: rgba($color--primary,$opacity);
    }
    text-decoration: none;
    transition: all .3s ease;
    @if variable-exists(color--btn-background){
        background-color: $color--btn-background;
    }
}

a:hover,
a:focus {
    @if variable-exists(color--primary){
        color: $color--primary;
    }
}

.btn {
    border: 1px solid;
    @if variable-exists(color--primary){
        color: $color--primary;
    }
    @if variable-exists(opacity--footer){
        opacity: $opacity--footer;
    }
    text-decoration: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 8px 23px;
    background-color: transparent;
    transition: all .3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover,
.btn:focus {
    @if variable-exists(opacity--footer){
        opacity: 1;
    }
}

.plotlyjsicon {
    display: none;
}

svg.main-svg:first-of-type,
.subplot,
.js-plotly-plot .plotly .modebar {
    @if variable-exists(color--background){
        background: $color--background !important;
    }
}

.subplot rect {
    @if variable-exists(color--background){
        fill: $color--background !important;
    }
}

.gtitle {
    @if variable-exists(color--primary){
        fill: $color--primary !important;
    }
}

.js-line {
    @if variable-exists(color--primary){
        stroke: $color--primary !important;
    }
}

.xtick text,
.ytick text {
    @if variable-exists(color--primary){
        fill: $color--primary !important;
    }
    @if variable-exists(opacity--xy-tick){
        opacity: $opacity--xy-tick;
    }
}

.xgrid, .ygrid {
    @if variable-exists(color--grid){
        stroke: $color--grid !important;
    }
}

.js-plotly-plot .plotly .modebar-btn path,
.js-plotly-plot .plotly .modebar-btn.modebar-btn--logo path {
    @if variable-exists(color--primary){
        fill: $color--primary !important;
    }
}
