/*!
 *
 * Newsprint Theme
 *
 */

$color--primary:         #555555;
$color--grid:            #D9D9D9;
$color--btn-background:  #FFFCF0;
$color--background:      #FFFCF0;
$opacity--initial:        0.5;
$opacity--xy-tick:       0.5;

@import "template";
